.margin-right {
	margin-right: 25px!important;
}

.margin-left {
	margin-left: 25px!important;
}

.page-header {
	margin: 0 auto;
	margin-bottom : 25px;
	height: 100px!important;
	font-size: 22px!important;
	width: 100%;
	text-align: center!important;
	line-height: 100px!important;
	background-color: #FAFAFA;
	color:black;
}



.bouton-np {
	color: white;
	font-size: 20px;
	background-color: #212121!important;
}

#tabFiltres td {
	font-size: 18px!important;
}